@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('Montserrat-VariableFont_wght.ttf') format('opentype');
}

@font-face {
	font-family: 'Prosto One';
	font-style: normal;
	font-weight: 400;
	src: url('ProstoOne-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url('NotoSans-VariableFont_wdth,wght.ttf') format('opentype');
}
